<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h1>{{.title}}</h1>
    <ul>
        <li><a href="/data/quotes">Quotes - JSON</a></li>
        <li><a href="/data/tenders">Tenders - string</a></li>
        <li><a href="/secrets/accounts">Accounts - JSONBlob from file</a></li>
        <li><a href="/name/first/Ali/last/Anwar">Full name - JSON + sub-route +params</a></li>
        <!-- <li><a href="/name/Ali/Anwar">Full name - JSON + direct params</a></li> -->
        <li><a href="/psql/quotes?limit=5">Get quotes from PostgREST</a></li>
    </ul>
</body>

</html>
